.body-error {
  height: 100vh;
  background: red;
  background: radial-gradient(circle, red 0%, #00d4ff 2%, #404085 5%, #020024 41%);
}

.meninblack {
  position: relative;
  top: -100vh;
  width: 0vw;
  height: 0vh;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4vh)[5];
      grid-template-columns: repeat(5, 4vh);
  -ms-grid-rows: (3vw)[6];
      grid-template-rows: repeat(6, 3vw);
  grid-column-gap: 9vh;
  grid-row-gap: 1vw;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vh;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -webkit-animation: error404animation 2s ease 0s infinite normal forwards;
          animation: error404animation 2s ease 0s infinite normal forwards;
}

.div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  animation: error404animation 2s ease 0s infinite reverse forwards;
}

.div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  -webkit-animation: error404animation 2s ease 0s infinite alternate forwards;
          animation: error404animation 2s ease 0s infinite alternate forwards;
}

.div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  animation: error404animation 2s ease 0s infinite alternate-reverse forwards;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1 / 5 / 2 / 6;
  -webkit-animation: error404animation 2s ease 0s infinite normal forwards;
          animation: error404animation 2s ease 0s infinite normal forwards;
}

.div6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  animation: error404animation 2s ease 0s infinite reverse forwards;
}

.div7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
  -webkit-animation: error404animation 2s ease 0s infinite alternate forwards;
          animation: error404animation 2s ease 0s infinite alternate forwards;
}

.div8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 4 / 4 / 5 / 5;
  animation: error404animation 2s ease 0s infinite alternate-reverse forwards;
}

.div9 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 6 / 3 / 7 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#errorbtn {
  width: 53vh;
}

#errorbtn:focus + .meninblack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-bottom: 50%;
  top: unset;
}

@-webkit-keyframes error404animation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes error404animation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 425px) {
  .parent {
    grid-column-gap: 1vh;
    grid-row-gap: 22vw;
  }
  #errorbtn {
    width: 48vh;
  }
}

.index_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 94vh;
}

.index_footer p {
  margin-right: 1vw;
}

@media (max-width: 1146px) {
  .index_footer {
    visibility: hidden;
  }
}

.main__servicios {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: black;
  color: white;
}

.main-h1__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-h1__servicios h1 {
  font-size: 8vh;
}

.main-h2__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12vh !important;
  height: 100vh;
  background-attachment: fixed;
}

.main-h2__servicios h2 {
  font-size: 6vh;
}

.main-colfull__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20vh;
}

.main-col3__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: #f08700 5px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-col3-row__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-col3-row__servicios a {
  width: auto;
}

.main-colfull-h__servicios h3:hover {
  font-weight: 800;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.main-ulfinal__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  margin-bottom: 10vh !important;
  margin-top: 12vh !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col-3 {
  width: 30%;
}

#main-h2__servicios1 {
  background-image: url(https://i.ibb.co/pfwxs5Y/nature.jpg);
}

#main-h2__servicios2 {
  background-image: url(https://i.ibb.co/bdbHKcb/wedding.jpg);
}

#main-h2__servicios3 {
  background-image: url(https://i.ibb.co/SPbzWnf/soccer.jpg);
  background-position: center;
}

#main-h2__servicios2col {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10vh;
  margin-left: 0vh;
}

.btn {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  text-transform: capitalize;
}

.btn-outline-primary {
  color: #f08700;
  border-color: #f08700;
  border-width: 4px;
  font-size: 4vh;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #f08700;
  background-color: transparent;
}

.btn-outline-primary:focus-within {
  -webkit-box-shadow: -13px 0px 9px -2px #f49e0a;
          box-shadow: -13px 0px 9px -2px #f49e0a;
  border-radius: 6px;
  border: 2px solid #f08800;
  color: #000000;
  text-shadow: 0px 1px 0px #141414;
  background-color: #f08700;
}

#btn-servicios {
  color: #ffffff;
  border: 4px solid #ffffff;
}

#btn-servicios:hover {
  background-color: #ffffff;
  color: #f08700;
}

.main-colfull-h__servicios {
  width: 40vw;
}

.main-colfull-h__servicios h2 {
  font-size: 3.5vh;
}

.main-colfull-h__servicios h3 {
  line-height: 6vh;
  letter-spacing: 0.3vh;
  color: black;
  font-weight: 500;
}

#main-colfull-button__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .main-ulfinal__servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    margin-bottom: 10vh !important;
    margin-top: 12vh !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col-3 {
    width: 75vw;
  }
  .main-colfull__servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    margin: 0;
  }
  #main-h2__servicios2col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-left: 0vh;
  }
  .main-colfull-h__servicios {
    width: auto;
    margin-bottom: 5vh;
  }
  .main-colfull-h__servicios h2 {
    font-size: 3vh;
  }
  .main-h2__servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12vh !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-attachment: fixed;
  }
  .btn {
    height: 9vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4vh;
    width: auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li a {
  color: #00A6A6;
}

.fab {
  font-size: 5vh;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

.fab:hover {
  font-size: 8vh;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right:focus-within {
  -webkit-animation: slide-out-right 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

#navbar__container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nav-link {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 10px 0px 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 2s;
  transition: border-color 2s;
}

.nav-link:hover {
  font-size: 1.3rem;
  padding: 9px 9px -1px 9px;
  border-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  z-index: 1000;
}

.navbar-toggler {
  border: 0 !important;
  z-index: 100000;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}

/*.nopush{
    position: absolute;
    top: 13vh;
    left: 4vw;
    background: white;
}*/
.navbar-nav {
  position: absolute;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10000;
  /*width: 95%;*/
  /* height: 90vh;*/
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* Header de los otros sitios*/
/*media*/
@media (min-width: 991.82px) {
  .navbar-nav {
    background: none;
  }
}

@media (max-width: 991.82px) {
  .navbar-nav {
    width: 97%;
    height: 98vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    left: 1.5vw;
    top: 1vh;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white !important;
  }
  .nav-link {
    font-size: 2rem;
  }
  .nav-link:hover {
    font-size: 2rem;
    padding: 9px 9px -1px 9px;
    border-color: rgba(0, 0, 0, 0.9);
    border-bottom: solid 1px white;
  }
}

.body-resposive {
  background-image: url(https://i.ibb.co/ZY20wQG/bg-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: border-width 0.2s linear;
  transition: border-width 0.2s linear;
}

a:link, a:visited {
  text-decoration: none;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__index__a {
  min-width: 100vw;
  margin: 0;
}

.index__a {
  font-family: 'Poppins', serif;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  min-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__a:hover {
  border-bottom: #03071e solid 5px;
  color: #03071e;
}

.row__main .row__main-div {
  --bs-gutter-x: 0rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 1150px) {
  .body-resposive {
    background-image: url(https://i.ibb.co/ZY20wQG/bg-img.jpg);
  }
  .container__index__a {
    min-width: calc(100vw/3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__index__a a {
    color: #03071e;
  }
  .row__main {
    max-width: 0%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    width: 100vw;
    height: 80vh;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-top: -7vh;
  }
  .row__main-div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100vw;
    --bs-gutter-x: 0rem;
  }
}

@media (max-width: 1146px) {
  .row__main .row__main-div {
    height: 77vh;
  }
}

@media (max-width: 435px) {
  .index__a {
    font-size: 4.4rem;
    padding: 0;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .container__index__a {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0;
  }
  .row__main .row__main-div {
    margin-top: 5vh;
  }
  .body-resposive {
    background-size: cover;
  }
}

@media (max-height: 576px) {
  .index__a {
    font-size: 4.5rem;
  }
}

@media (max-height: 518px) {
  .index__a {
    font-size: 4.3rem;
  }
}

@media (max-height: 490px) {
  .index__a {
    font-size: 4rem;
  }
}

@media (max-height: 458px) {
  .index__a {
    font-size: 3.8rem;
  }
}

@media (max-height: 434px) {
  .index__a {
    font-size: 3.6rem;
  }
}

.index__a {
  font-family: 'Poppins', serif;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  min-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__a:hover {
  border-bottom: #03071e solid 5px;
  color: #03071e;
}

.btn-outline-primary {
  color: #f08700;
  border-color: #f08700;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #f08700;
  background-color: transparent;
}

.btn-outline-primary:focus-within {
  -webkit-box-shadow: -13px 0px 9px -2px #f49e0a;
          box-shadow: -13px 0px 9px -2px #f49e0a;
  border-radius: 6px;
  border: 2px solid #f08800;
  color: #000000;
  text-shadow: 0px 1px 0px #141414;
  background-color: #f08700;
}

.form-control {
  border: none;
  border-bottom: 1px solid #f08700;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #f08700;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

#btn-contacto {
  width: 21vw;
  border-width: 1px;
  font-size: 2vh;
  text-transform: uppercase;
  height: 6vh;
  margin-bottom: 2vh;
}

.section-form {
  margin-top: 5vh;
}

.section-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.section-form__input {
  width: 65vw;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: black;
}

.portafolio-main__section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -ms-flex-line-pack: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portafolio-main__section2 p {
  font-size: 2.7vh;
  line-height: 4.3vh;
  word-spacing: 1.5vh;
}

#portafolio-main__section2-2 {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.carousel-item img {
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .portafolio-main__section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .scroller {
    height: auto;
    overflow-y: none;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  .scroller section {
    scroll-snap-align: none;
  }
}

.sobremi__main {
  background-image: url(https://i.ibb.co/XDh8xTB/polofotolarga.jpg);
  background-repeat: no-repeat;
  background-position: 0% 40%;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
}

.sobremi__main-section1 {
  height: 87vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sobremi__main-section1-row-col {
  margin: 25px;
  color: white;
  height: auto;
  max-height: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 7px;
}

.sobremi__main-section1-row-col h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  word-spacing: 0.5em;
  font-style: italic;
}

.sobremi__main-section1-row-col h2 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  word-spacing: 0.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.sobremi__main-section1-row-col p {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  word-spacing: 0.5em;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
}

.col-img {
  display: none;
}

@media (max-width: 460px) {
  .col-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col-img img {
    width: 100vw;
    height: 100vh;
  }
  .sobremi__main-section1 div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobremi__main {
    background-image: none !important;
  }
  .sobremi__main-section1-row-col {
    color: black;
    width: 100vw;
    padding: 0%;
    margin: 0 0 5vh 0;
    height: auto;
  }
}

@media (max-width: 960px) {
  .col-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col-img img {
    width: 100vw;
    height: 100vh;
  }
  .sobremi__main-section1 div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobremi__main {
    background-image: none !important;
  }
  .sobremi__main-section1-row-col {
    color: black;
    width: 100vw;
    padding: 0%;
    margin: 0 0 5vh 0;
    height: auto;
  }
  .sobremi__main-section1-row-col {
    margin: 25px;
    color: black;
    background-color: white;
    height: auto;
    max-height: auto;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-top: 5px solid #1C6EA4;
    border-bottom: 5px solid #1C6EA4;
  }
}

@media (max-width: 1146px) {
  .nav-link-sobremi {
    color: black !important;
  }
}

* {
  font-family: 'Poppins', serif;
}
/*# sourceMappingURL=main.css.map */