.body-resposive {
  background-image: url(./../img/bg-img-alt.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: border-width 0.2s linear;
  transition: border-width 0.2s linear;
}

a:link, a:visited {
  text-decoration: none;
}

.nav-link:hover {
  font-size: 110%;
  font-weight: 600;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__index__a {
  min-width: 100vw;
  margin: 0;
}

.index__a {
  font-family: 'Poppins', serif;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  min-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__a:hover {
  border-bottom: #03071e solid 5px;
  color: #03071e;
}

.row__main .row__main-div {
  --bs-gutter-x: 0rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 1150px) {
  .body-resposive {
    background-image: url(./../img/bg-img.jpg);
  }
  .container__index__a {
    min-width: calc(100vw/3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__index__a a {
    color: #03071e;
  }
  .row__main {
    max-width: 0%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    width: 100vw;
    height: 80vh;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-top: -7vh;
  }
  .row__main-div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100vw;
    --bs-gutter-x: 0rem;
  }
}

@media (max-width: 1146px) {
  .row__main .row__main-div {
    height: 77vh;
  }
  .body-resposive {
    background-repeat: repeat;
  }
}

@media (max-width: 435px) {
  .index__a {
    font-size: 4.4rem;
    padding: 0;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .container__index__a {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0;
  }
  .row__main .row__main-div {
    margin-top: 5vh;
  }
  .body-resposive {
    background-repeat: repeat;
  }
}

@media (max-height: 576px) {
  .index__a {
    font-size: 4.5rem;
  }
}

@media (max-height: 518px) {
  .index__a {
    font-size: 4.3rem;
  }
}

@media (max-height: 490px) {
  .index__a {
    font-size: 4rem;
  }
}

@media (max-height: 458px) {
  .index__a {
    font-size: 3.8rem;
  }
}

@media (max-height: 434px) {
  .index__a {
    font-size: 3.6rem;
  }
}

.index__a {
  font-family: 'Poppins', serif;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  min-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__a:hover {
  border-bottom: #03071e solid 5px;
  color: #03071e;
}

.btn-outline-primary {
  color: #f08700;
  border-color: #f08700;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #f08700;
  border-color: #f08700;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #f08700;
  background-color: transparent;
}

.btn-outline-primary:focus-within {
  -webkit-box-shadow: -13px 0px 9px -2px #f49e0a;
          box-shadow: -13px 0px 9px -2px #f49e0a;
  border-radius: 6px;
  border: 2px solid #f08800;
  color: #000000;
  text-shadow: 0px 1px 0px #141414;
  background-color: #f08700;
}

.form-control {
  border: none;
  border-bottom: 1px solid #f08700;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #f08700;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}

.section-form {
  margin-top: 5vh;
}

.section-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.section-form__input {
  width: 65vw;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right:focus-within {
  -webkit-animation: slide-out-right 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

#navbar__container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navbar-brand {
  z-index: 1000;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}

/*.nopush{
    position: absolute;
    top: 13vh;
    left: 4vw;
    background: white;
}*/
.navbar-nav {
  position: absolute;
  background: black;
  width: 99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Header de los otros sitios*/
/*media*/
@media (min-width: 991.82px) {
  .navbar-nav {
    background: none;
  }
}

@media (max-width: 1146px) {
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
}

* {
  font-family: 'Poppins', serif;
}

.index_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 94vh;
}

.index_footer p {
  margin-right: 1vw;
}

@media (max-width: 1146px) {
  .index_footer {
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */