.index__body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-image: url(https://i.ibb.co/bNsKfPK/a.jpg) ;*/
  background-image: url(https://i.ibb.co/XVJK6Nw/foto-inicio.jpg) ; 
  height: 100vh;
  display: grid;
  background-size: contain;
  grid-template-columns: repeat(3,calc(100% / 3) );
  grid-template-rows: 65px auto 45px;
  grid-template-areas:
  "header header header" 
  "bgImg bgImg bgImg"
  "footer footer footer" ;
}
body{
  height: 100vh;
  font-family: 'Poppins', serif;
}
  
main{
  display: flex;
}
  
header{
  grid-area: header;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
  
ul{
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
  
.index__header{
  position: absolute;
  &-logo img{
    border-radius: 35px;
    height: 70px;
    margin-left: 1rem;
  }
}
.header__ul-li-a{
  font-family: 'Poppins', serif;
  font-size: 0.8rem;
  font-weight: 500;
  &:hover{
    border-bottom: #03071e solid 1px;
  }
}

nav{
  display: flex;
  margin-right: 1rem;
}
  
ul{
  list-style-type: none;
}
  
.bgImg{
  grid-area: bgImg;
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  /** align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch; **/
  &__ul{
    list-style-type: none;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    & li{
      font-family: 'Poppins', serif;
      font-size: 5rem;
      font-weight: 600;
      color: #03071e ;
      min-width: 385px;
      display: flex;
      justify-content: center;
    }
  }
}
a{
  color: #03071e ;
  text-decoration: none;
  transition: border-width 0.2s linear;
  &:hover {
    border-bottom: #03071e solid 5px;
  }
  &:link {
    text-decoration: none;
  } 
  &:visited {
    text-decoration: none;
  }
}
.index__header-logo a{
  border-bottom: #03071e solid 0px;
}
    
footer{
  position: absolute;
  bottom: 0;
  left: 87vw;
  font-family: 'Poppins', serif;
  font-size: 0.8rem;
  font-weight: 500;
  border-top: #03071e solid 1px;
  width: 11.9vw;
  grid-area: footer;
  & a:hover{
    border-bottom: #03071e solid 1px;
  }
}
  
    
  
/** FIN INDEX **/
/** INICIO CONTACTO **/

.contacto__main{
  flex-direction: column;
  align-items: center;
}

.section-form{
  width: 750px;
}

.form__fieldset-container{
  display: flex;
  flex-direction: column;
}

.article__text{
  text-align: center;
}

#textarea {
  width: 750px;
  height: 8rem;
  resize: none;
}

#input-email{
  width: 750px;
}

.input-submit {
  background:linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color:#000000;
  border-radius:6px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  width: 25%;
  margin: 0 auto;
  transition:  1.5s linear;
  &:hover {
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color:#ffffff;
    color: #000;  
  }
  &:active {
    position:relative;
    top:1px;
  }
}
/** servicios**/

.servicios_main{
  grid-area: servicios__main;
}
.body__servicios{
  display: grid;
  grid-template-columns: repeat(3,calc(100%/3));
  grid-template-rows: 70px calc(100% - 116px) 46px ;
  grid-template-areas:   "header header header"
  "servicios__main servicios__main servicios__main" 
  "footer footer footer";
  height: 100%;
}

.servicios__section{
  grid-area: servicios_section;
  display: grid;
  grid-template-columns: repeat(3,calc(100% / 3) );
  grid-template-rows: 81px calc(100% - 81px) ;
  grid-template-areas: "servicios_sectionh1 servicios_sectionh1 servicios_sectionh1"
  "servicios_container servicios_container servicios_container" ;
  &-h1{
    margin-left: 25px;
    margin-right: 25px;
    grid-area: servicios_sectionh1;
    border-bottom: solid 5px #000;
  }
}
.servicio__button {
  background: linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  margin: 0 auto;
  transition: 1.5s linear;
  &:hover {
    background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color:#ffffff;
    color: #000;
  }
  &:active {
    position:relative;
    top:1px;
  }
  
}
   
.servicio__ul-a:hover{
  border-bottom: #03071e solid 0px;
}

.servicios__container{
display: flex;
flex-direction: row;
width: 100vw;
justify-content: space-around;
grid-area: servicios_container;
}

.servicios__container-ul{
  grid-area: servicios__container-ul;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: #1f2f47 solid 3px;
  box-sizing: content-box;
  padding: 15px;
  width: 20vw;
  height: fit-content;
}

.servicios__container-ul h2{
  padding-bottom: 2rem;
  text-decoration: underline;
}

#servicios__container-ul-1{
  grid-area: servicios__container-ul-1;
}
#servicios__container-ul-2{
  grid-area: servicios__container-ul-2}
#servicios__container-ul-3{
  grid-area: servicios__container-ul-3
}
.servicios__container-ul-li{
  min-height: 50px;
  font-weight: 500;
  font-size: 1rem
}

.servicios__photo{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 10vh;
  & img{
    width: 12vw;
  }
}
 
/**Sobre mi**/

.sobremi__main{
  width: 100vw;
  & section{
    display: flex;
    width: 50vw;
    & article{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 50px;
      border-bottom: #000 solid 2px;
    }
  }
}
.container1{
  margin-top: 50px;
}
.container2{
  margin-top: 50px  
}
.container__img{
  display: flex;
  width: 50vw;
  justify-content: center;
}
.container__img img{
  width: 30vw;
}

/**PORTAFOLIO**/

.portafolio__main{
  display: flex;
  flex-direction: column;
  &-section1{
    border-bottom: #000 solid 3px;
    & h1{
      margin-left: 25px;
    }
  }
  &-section2{
    display: flex;
    &-article{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      & img{
        width: 25vw;
        &:hover{
          border: #1f2f47 10px solid; 
          animation: 0.5s linear .1s zoomscale;
          animation-fill-mode: forwards;
        }
      }
    }
  }      
}
@keyframes zoomscale {
  0%{
    transform: scale(1.0);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1.1);
  }
}
.footer__portafolio{
  position: sticky;
}

/*RESPONSIVE*/
@media screen and (max-width: 1225px){

  .servicios__container{
    grid-area: servicios_container;
    display: grid;
    /*grid-template-columns: 100% ;*/
    grid-template-areas:
    "servicios__container-ul-1" 
    "servicios__container-ul-2"
    "servicios__container-ul-3";
    grid-row-gap: 1vh;
  }

  .servicios__container-ul{
    width: auto;
    height: fit-content;
    & h2{
      min-width: 243px;
    }
  }
  .servicios__footer{
    position: sticky;
    bottom: 1rem
  }

  .index__body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   /* background-image: url(https://i.ibb.co/bNsKfPK/a.jpg) ;*/
    background-image: url(https://i.ibb.co/3S1CSRv/IMG-4799-1.jpg) ; 
  }
}


@media screen and (max-width: 1154px){

    .index__body{
      background: #fff;
    }
    .bgImg__ul{
      flex-direction: column;
    }
    .servicios__container-ul-li{

      min-width: 247px;
    }
    .servicios__container-ul h2{

      min-width: 243px;
    }
    .index__body{

      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
     /* background-image: url(https://i.ibb.co/bNsKfPK/a.jpg) ;*/
      background-color: rgba(0,0,0,0.8);
      background-image: url(https://i.ibb.co/3S1CSRv/IMG-4799-1.jpg) ; 
      & a{
          color: white;
          background-color: rgba(0,0,0,0.3);
        }
      & footer{
          color: white;
          background-color: rgba(0,0,0,0.1);
        }    
    }
}



@media screen and (max-width: 768px){
  
  header{
    justify-content: center;
  }
  .index__header-logo{
    margin-right: 35% ;
  }
  nav{
    margin-left: 35%;
  }
 

  body{
    height: 100%;
  }

  /* Servicios */
  .servicios__container{
    grid-area: servicios_container;
    display: grid;
    /*grid-template-columns: 100% ;*/
    grid-template-areas:
    "servicios__container-ul-1" 
    "servicios__container-ul-2"
    "servicios__container-ul-3";
    grid-row-gap: 1vh;
  
  }

  .servicios__container-ul{
    width: auto;
    height: fit-content;
  }


  .servicios__footer{
    position: sticky;
    bottom: 1rem
  }
  
  /*Contacto*/
  .contacto__main{
    max-width: 768px;
  }
  .section-form{
    width: auto;
  }
  .form{
    height: 100%;
  }
  .form__fieldset{
    height: 50%;
    
  }


  
  #input-email{
    width: auto;
  }
  #textarea{
    width: 80vw;
    height: 40vh;
  }
  
  .input-submit{
    padding: 14px 24px;
    width: 45%;
    font-size: 30px;
  }

  .container__img{
    align-items: center;
    & img {
      width: 35vw;
      height: 65vh;}
  }

  .portafolio__main-section2-article img:hover{
    transform: scale(1.3);
    border: #1f2f47 5px solid;
  }
    
}
@media screen and (max-width: 1280px ) and (min-width: 1156px){

  .index__body{
    background-size: calc(100% / 3) 100%;
  }
}

@media screen and (max-width: 718px){
}

@media screen and (max-width: 425px){


  footer{
    bottom: 24vh;
    left: 64vw;
    font-family: 'Poppins', serif;
    font-size: 1.1rem;
    border-top: #03071e solid 2px;
  }
  body{
    width: 100vw;
    overflow: auto;
    margin: 0px;
  }
  header{
    justify-content: space-between;
  }
  nav{
    margin-left: 0%;
    
  }

  .servicios__section-h1{
    font-size: 1.5em
  }
  .portafolio__main-section2{
  justify-content: center;
  &-article {
      width: 90vw;
      & img{
          width: 40vw;
        }
    }
  }
  .container1 h1{
    font-size: 1.35em;
  }
  .container1 h2{
    font-size: 1.1em;
  }
  .container2{
    margin-top:1px;
    & h1{
      font-size: 1.35em;
    }
    & h2{
      font-size: 1.1em;
    }
    & p{
      font-size: 1em;
    }
  }
  .container__img{
    height: 71vw;
    flex-direction: column;
    justify-content: flex-end;
    & img{
      width: 45vw;
      height: auto;
    }
  }
  
}


