
$color:(
    "1": #f08700,
    "2": #F49F0A,
    "3": #EFCA08,
    "4": #00A6A6,
    "5": #BBDEF0,
);


.main__servicios{
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
}

.main-h1__servicios{
    display: flex;
}

.main-h2__servicios{
    display: flex;
    margin-top: 12vh!important;
}

.main-colfull__servicios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-col3__servicios{
    display: flex;
    flex-direction: column;
}
.main-col3-row__servicios{
    display: flex;
}

.main-ulfinal__servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10vh !important;
    margin-top: 12vh!important
}

#main-h2__servicios1{
    background-image:url(../img/servicios/nature.jpg);
    height: 100vh;
    background-attachment: fixed;

}
#main-h2__servicios2{
    background-image:url(../img/servicios/wedding.jpg);
    height: 100vh;
    background-attachment: fixed;

}

#main-h2__servicios3{
    background-image:url(../img/servicios/soccer.jpg);
    height: 100vh;
    background-attachment: fixed;

}

#main-h2__servicios2col{
    align-items: flex-end;
}

.btn-outline-primary {
    color: map-get($color,"1");
    border-color: map-get($color,"1");
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: map-get($color,"1");
    border-color: map-get($color,"1");
  }
  .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
  }
  .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: map-get($color,"1");
    border-color: map-get($color,"1");
  }
  .btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
  }
  .btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: map-get($color,"1");
    background-color: transparent;
  }
  
  .btn-outline-primary:focus-within {
      box-shadow: -13px 0px 9px -2px #f49e0a;
      border-radius:6px;
      border:2px solid #f08800;
      color:#000000;
      text-shadow:0px 1px 0px #141414;
      background-color: map-get($color,"1");
    }