
$color:(
    "1": #f08700,
    "2": #F49F0A,
    "3": #EFCA08,
    "4": #00A6A6,
    "5": #BBDEF0,
);

$bg-img-servicios: (
  "paisajes": url(https://i.ibb.co/pfwxs5Y/nature.jpg),
  "casamientos": url(https://i.ibb.co/bdbHKcb/wedding.jpg),
  "eventos-deportivos": url(https://i.ibb.co/SPbzWnf/soccer.jpg),
);



.main__servicios{
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
}

.main-h1__servicios{
    display: flex;
}

.main-h2__servicios{
    display: flex;
    margin-top: 12vh!important;
    height: 100vh;
    background-attachment: fixed;
}

.main-colfull__servicios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20vh;
}

.main-col3__servicios{
    display: flex;
    flex-direction: column;
    border: map-get($color,"1") 1px solid ;
    align-items: center;
}
.main-col3-row__servicios{
    display: flex;
    
}

.main-ulfinal__servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    margin-bottom: 10vh !important;
    margin-top: 12vh!important;
    justify-content: space-around;
}



.col-3{
    width: 30%;}

#main-h2__servicios1{
    background-image:map-get($bg-img-servicios,"paisajes");


}
#main-h2__servicios2{
    background-image:map-get($bg-img-servicios,"casamientos");
}

#main-h2__servicios3{
    background-image:map-get($bg-img-servicios,"eventos-deportivos");
}

#main-h2__servicios2col{
    align-items: flex-end;
    margin-right: 10vh;
    margin-left: 0vh;
}

.btn-outline-primary {
    color: map-get($color,"1");
    border-color: map-get($color,"1");
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: map-get($color,"1");
    border-color: map-get($color,"1");
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: map-get($color,"1");
    border-color: map-get($color,"1");
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(244, 159, 10, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: map-get($color,"1");
    background-color: transparent;
}
  
.btn-outline-primary:focus-within {
    box-shadow: -13px 0px 9px -2px #f49e0a;
    border-radius:6px;
    border:2px solid #f08800;
    color:#000000;
    text-shadow:0px 1px 0px #141414;
    background-color: map-get($color,"1");
}

#main-col3-row-button__servicios{
    width: 50%;
}

.main-colfull-h__servicios{ 
    width: 40vw;
    & h2{
        font-size: 2.5vh;
    }
}

@media (max-width:768px){
    .main-ulfinal__servicios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    margin-bottom: 10vh !important;
    margin-top: 12vh!important;
    align-items: center;
    }
    
    .col-3{
        width: 75vw;}

    .main-colfull__servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    margin:0;
    }
    #main-h2__servicios2col{
        align-items: center;
        margin-right: 0;
        margin-left: 0vh;
    }
    .main-colfull-h__servicios {
        width: auto;
        margin-bottom: 10vh;
        & h2{
            font-size: 4vh;
        }
    }
    .main-h2__servicios{
        display: flex;
        margin-top: 12vh!important;
        height: max-content;
        background-attachment: fixed;
        
    }
    .btn{
        height: 9vh;
        display: flex;
        align-items: center;
    }
}