$color:(
    "1": #f08700,
    "2": #F49F0A,
    "3": #EFCA08,
    "4": #00A6A6,
    "5": #BBDEF0,
);
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    & ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom:1% ;
        justify-content: center;
        & li{
            display: flex;
            & a{      
            color: map-get($color,"4");
            }
        }
    }
}
.fab{
    font-size: 5vh;
    transition: font-size 1s;
}
.fab:hover{
    font-size: 8vh;
}

@media (max-width:768px) {
    .footer{
        & ul{
            gap: 20%;
        }
    }
}