.index_footer{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    position: sticky;
    top: 94vh;
    & p{
        margin-right: 1vw;
    }
}
@media (max-width:1146px){
    .index_footer{
        visibility: hidden;
    }
}
